footer {
  position: static;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  color: $color-lightBlue;
  padding: 4rem 0 1rem 0;
  .media {
    display: Flex;
    justify-content: center;
    align-items: center;
    svg {
      margin: 0 2rem;
      font-size: 5rem;
      height: 24px;
      width: 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2rem 0 1rem 0;
  }
}
