.form-only {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    height: calc(100vh - 10rem);
    form {
      width: 60%;
      margin-top: 5rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .form-only {
    .container {
      display: flex;
      justify-content: center;
      max-width: 1200px;
      padding: 1rem;
      margin: 0 auto;
      height: calc(100vh - 10rem);
      form {
        width: 60%;
        margin-top: 5rem;
        margin: 0 auto;
      }
    }
  }
}
