@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");
body {
  font-family: "Roboto Mono", monospace;
}
body header {
  color: #003459;
}
body header .container {
  padding: 1rem;
}
body header .container .mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .container .mobileNav button {
  cursor: pointer;
  font-size: 3rem;
}
body header .container img {
  width: 5rem;
}
body header .container .navigation {
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
body header .container .navigation a {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #00171f;
  font-size: 1.2rem;
}
body header .container .navigation .logoutBtn {
  display: none;
}
body header .container .navigationActive {
  height: 15vh;
  transition: 0.5s ease;
}
body header .container .navigationActive a {
  opacity: 0.5;
  transition: 0.3s ease;
}
body header .container .navigationActive a:hover {
  opacity: 1;
  padding: 0.75rem 0;
  transition: 0.5s ease;
}

.button {
  padding: 0.5rem 1.5rem;
  background: #007ea7;
  border: 0.1rem solid #000;
  color: #ffffff;
}

.left {
  display: none;
}

.right .container {
  height: calc(100vh - 11rem);
}
.right .container form h1 {
  display: none;
}

@media (min-width: 768px) {
  header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .mobileNav img {
    width: 8rem;
  }
  header .container .mobileNav button {
    display: none;
  }
  header .container .mobileNav svg {
    display: none;
  }
  header .container .navigation {
    display: flex;
    height: auto !important;
    align-items: center;
  }
  header .container .navigation a {
    margin: 0 0.75rem;
    cursor: pointer;
    position: relative;
  }
  header .container .navigation button {
    margin-right: 0.5rem;
    cursor: pointer;
  }
  header .container .navigation a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.1rem;
    background: #007ea7;
    top: 1.8rem;
    transition: 0.3s ease;
  }
  header .container .navigation a:hover:before {
    width: 100%;
  }

  main .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 12rem);
  }
  main .container .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .container .left section {
    padding: 3rem 2rem;
  }
  main .container .left section h1 {
    padding: 1.5rem 0;
  }
  main .container .right {
    flex: 1;
    padding-right: 1rem;
  }
  main .container .right .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  main .container .right .container form {
    width: 80%;
    border: 0.1rem solid black;
    border-right: 1rem solid #007ea7;
    padding: 5rem 1rem;
    border-radius: 0.5rem;
  }
  main .container .right .container form h1 {
    display: block;
    text-align: center;
  }
  main .container .right .container form .inputBox {
    width: calc(100% - 5rem);
  }
  main .container .right .container form .inputBox input {
    margin-left: 0.5rem;
    outline: none;
  }
  main .container .right .container form .inputBox input:focus {
    border-bottom: 0.005rem solid #007ea7;
  }
  main .container .right .container form button {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.container .intro h1 {
  text-align: center;
}
.container .intro p {
  padding: 0.5rem 0;
  text-align: center;
}
.container .services {
  padding: 2rem 0;
}
.container .services .service .frame {
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem solid black;
  border: 0.01rem solid black;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .services .service .frame .icon {
  color: #007ea7;
}
.container .services .service p {
  text-align: center;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  .home .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 13rem);
  }
  .home .container .intro p {
    font-size: 1.8rem;
  }
  .home .container .services {
    padding: 3rem 0;
    display: flex;
  }
  .home .container .services .service {
    margin: 0 1.5rem;
  }
}
.exercises h1 {
  text-align: center;
}
.exercises .swiper {
  max-width: 1200px;
}
.exercises .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}
.exercises .swiper .swiper-wrapper .swiper-slide .section {
  padding: 2rem 4rem 2rem 4rem;
}
.exercises .swiper .swiper-wrapper .swiper-slide .section .title {
  color: #00171f;
  text-transform: uppercase;
  padding: 0.25rem 0;
}
.exercises .swiper .swiper-wrapper .swiper-slide .section .description {
  overflow: scroll;
  overflow-x: hidden;
  height: 120px;
}
.exercises .swiper .swiper-wrapper .swiper-slide .section .type {
  color: #007ea7;
}
.exercises .swiper .swiper-wrapper .swiper-slide .addButton {
  padding: 0.5rem 0.75rem;
  margin: 0 auto;
  background: #ffffff;
  color: #007ea7;
  border: 0.05rem solid #007ea7;
  z-index: 1000;
}

.form-only .container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: calc(100vh - 12rem);
  padding: 2rem;
}
.form-only .container form {
  width: 100%;
  margin-top: 5rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .form-only .container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
  }
  .form-only .container form {
    width: 60%;
    margin-top: 5rem;
    margin: 0 auto;
  }
}
.container {
  padding: 1rem;
}
.container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.container .form .text {
  text-align: center;
}
.container .form .inputBox {
  width: calc(100% - 2rem);
  background: white;
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
  box-shadow: 3px 7px 12px -2px #bebebe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}
.container .form .inputBox label {
  font-size: 1.2rem;
  color: #007ea7;
}
.container .form .inputBox .input {
  display: flex;
  align-items: center;
}
.container .form .inputBox .input div {
  font-size: 1.5rem;
}
.container .form .inputBox .input input {
  width: 100%;
  margin: 0.75rem 0;
  border: none;
}
.container .form .inputBox .input input:focus {
  outline: none;
}
.container .form button {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  background: #007ea7;
  border: 0.1rem solid #000;
  color: #ffffff;
}
.container .form .links {
  display: Flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
.container .error {
  display: flex;
  height: 0;
  width: calc(100% - 6rem);
  color: White;
  justify-content: space-between;
  transition: 0.3s ease;
  font-size: 0.1rem;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
}
.container .error .error i {
  color: white;
  align-self: flex-start;
  cursor: pointer;
}
.container .errorActive {
  height: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 0.75rem;
}

footer {
  position: static;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  color: #007ea7;
  padding: 4rem 0 1rem 0;
}
footer .media {
  display: Flex;
  justify-content: center;
  align-items: center;
}
footer .media svg {
  margin: 0 2rem;
  font-size: 5rem;
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2rem 0 1rem 0;
  }
}
.dashboard .container {
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
}
.dashboard .container .Container-dashboards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dashboard .container .Container-dashboards .dashboardBox {
  width: 100%;
  margin: 1rem;
  height: 18rem;
}
.dashboard .container .Container-dashboards .dashboardBox .text {
  text-align: center;
  color: #00171f;
  font-size: 1.5rem;
}
.dashboard .container .filterData {
  display: Flex;
  justify-content: center;
  align-items: center;
}
.dashboard .container .filterData .input:not(:last-child) {
  width: calc(25% - 1.5rem);
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.dashboard .container .filterData .input:last-child {
  display: flex;
  align-items: center;
}
.dashboard .container .filterData .input:last-child .button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}
.dashboard .container .filterData label {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.dashboard .container .filterData input {
  box-sizing: border-box;
}

@media screen and (min-width: 700px) {
  .dashboard .container {
    display: flex;
    flex-direction: column;
  }
  .dashboard .container .Container-dashboards {
    display: flex;
    flex-direction: row;
  }
  .dashboard .container .Container-dashboards .dashboardBox {
    width: calc(50% - 2rem);
    height: 35rem;
    position: relative;
  }
  .dashboard .container .Container-dashboards .dashboardBox canvas {
    position: absolute;
    height: 100%;
  }
  .dashboard .container form .filterData {
    display: flex;
  }
  .dashboard .container form .filterData .input {
    margin: 0 1.5rem;
  }
  .dashboard .container form .filterData .input label {
    margin-bottom: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */